@using ServicesStateMonitor.Enums
@model IEnumerable<Service>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>ServiceNames</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DependFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProblemList)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EssentialLinks)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @foreach (string serviceName in item.DependFrom)
                {
                    @Html.DisplayFor(modelItem => serviceName)
                    <br/>
                }
            </td>
            <td>
                @foreach (string problem in item.ProblemList)
                {
                    @Html.DisplayFor(modelItem => problem)
                    <br/>
                }
            </td>
            <td>
                @foreach (string link in item.EssentialLinks)
                {
                    <a href="@link">@link</a>
                    <br/>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new
                {
                    id = item.Name
                }) |
                @Html.ActionLink("Delete", "Delete", new
                {
                    id = item.Name
                })
            </td>
        </tr>
    }
    </tbody>
</table>
</body>
</html>